footer {
  margin-top: 10px;

  & #contatos {
    display: flex;
    justify-content: center;

    background-color: var(--bg-secondary);

    gap: 30px;
    padding-block: 10px;

    .contato {
      display: flex;
      align-items: center;

      gap: 2.5px;

      span {
        text-transform: capitalize;
      }

      cursor: pointer;

      &:hover {
        .svg-icon path {
          fill: var(--text-color-secondary);
        }

        span {
          color: var(--text-color-secondary);
        }
      }
    }
  }
}
