.text-color-secondary {
  color: var(--text-color-secondary);
}

.link-secondary {
  color: var(--text-color-primary);

  &:hover {
    text-decoration: none;
    color: var(--text-color-secondary);
  }
}

.text-sm {
  font: var(--text-sm);
}

.svg-icon path {
  fill: var(--text-color-primary);
}
